body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profile-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  word-break: break-all;
}

.col-container h2 {
  text-align: center;
}

.column-li {
  margin: 10px;
  width: 50%;
}

.community {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.community-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-self: center;
  width: 33%;
  margin-bottom: 20px;
  margin-top: 10px;
}

.community-container {
  align-self: center;
  width: 33%;
  margin-bottom: 30px;
}

.create-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.create-field {
  margin-top: 20px;
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.create-field select {
  position: relative;
  bottom: 5px;
}

.submit-button {
  width: 100%;
  align-self: center;
  justify-content: center;
  padding: 40px 0;
}

.comment-container {
  margin-bottom: 0px;
}

.comment {
  margin-top: 20px;
  border: 1px solid black;
}

.comment-form {
  display: flex;
  flex-direction: column;
}

/* .user-profile {
  align-self: center;
  width: 25%;
  text-align: left;
  margin-left: 38%;
} */

.profile-item small {
  position: relative;
  bottom: 15px;
}

nav {
  width: 500px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
}

.post-form {
  display: flex;
  flex-direction: column;
}

.community-form-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.community-form {
  width: 25%;
}

input {
  padding: 0;
  height: 30px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: white;
  font-size: 16px;
}
