.login-page {
    background-image: url('https://cdn1.vectorstock.com/i/1000x1000/18/40/social-network-background-with-media-icons-vector-1291840.jpg');
    height: 100vh; 
    display: column;
    justify-content: center;
    border: line;
}

.login-box{
    height: 650px;
    width: 400px;
    border-style: solid;
    border-color: white;
    box-shadow: 5px;
    margin-left: 500px;
    background: lightskyblue;
    border-radius: 15px;
    transition: .5s
}

.login-box h4{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 25px;
}

.login-box input{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 25px;
    margin-bottom: 10px;
    border-radius: 10px;

}

.login-box button{ 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 25px;
    margin-bottom: 10px;
    border-radius: 10px;

}